.dayBox{
    position: relative;
    left: 220px;
    
}
.requestData
{
    position: relative;
    left: -10px;
    top: -20px;
}
.bookData
{
    position: relative;
    left: 30px;
    top: -20px;
}
.requestimg
{
   margin-right: 5px;
}
.bookimg
{
    margin-right: 5px;
    margin-left: 80px;
}